



@media only screen and ( min-width: 600px){

    #imgTricicloIndex{
        height: 600px;  
    }

    #imgBiciIndex{
        height: 600px;
    }
    
    #imgMonopatinIndex{
        height: 600px;
    }

}