
.header{

    background-image: linear-gradient(white, grey, rgb(175, 9, 9));
    height: 6rem;
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 1rem;
    padding-right: 3rem;
    transition: height 1s;

    &:hover{
        height: 7rem;
    }

    &__imgVoldini{
        width: 14rem; 
        height: 3rem;
        margin-top: 2vw;
        margin-left: 1rem;
        
    }

}


.nav2{

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__ul{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
    }

    &__li {
        list-style: none;
        display: inline-block;
        width: 20%;
        position: relative;
        margin: 0 1rem;
    }

    &__a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: sans-serif; 
        
        &:hover {
            color: black;
        }
       
    }      

    ul li:hover ul{

        display: block;
        background-color: rgb(182, 174, 174);
        font-family: sans-serif;
        height: 5rem;
        
        a{
            text-decoration: none;
            color: black;
            height: 6rem;

            &:hover{
                color: red;            
            }
        }

    }


    ul ul{
        position: absolute;
        display: none;

        li{
            display: block;
            
        }    
           
    } 

    i{
        color: black;
    }

}


main{

    margin-top: 0;
    margin-bottom: 0;
    padding-top: 9rem;
    padding-bottom: 5rem;
    text-align: center;
    background-image: linear-gradient(rgb(211, 210, 210), rgb(155, 151, 151), rgb(12, 11, 11));
    

    h1{
        font-family: sans-serif;
        font-weight: 100;
        text-align: center;
        animation-name: aparecer;
        animation-duration: 2s;
    }

    @keyframes aparecer{

        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }    

    p{
        color: black;
        font-family: sans-serif;
        font-size: larger;
        letter-spacing: 2.8px;
        line-height: 20px;
        text-align: center;
        margin-left: 1rem;  
    }

    .asideCarousel{
        margin-left: 15rem;
        margin-right: 15rem;
    }    
    
}


.mainProductos{

    padding-left: 2rem;
    padding-right: 2rem;

    table{
        margin-bottom: 3rem;
        margin-top: 2rem;
    }

    th{
        color: red;
        font-family: sans-serif;
    }

    .colorTh{
        color: seagreen;
        font-family: sans-serif;
    }

    td{
        color: black;
        font-family: sans-serif;
    }

    .colorTd{
        color: rgb(49, 51, 53);
        font-family: sans-serif;
     
    }

    h3{
        font-family: sans-serif;
        color: black;
        font-weight: 100;
        text-align: center;
    }

    .imgProducto{

        width: 25rem; 
        height: 20rem;
    }    
      
}


.containerInnovacion{

    width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    margin: 3rem 0;

    &__p{
        margin-bottom: 7rem;
        margin-right: 5rem;
    }

    &__imgInnovacion{
        height: 40%;
        width: 40%;
    }

}


.flex-conteinerEmpresa{
    
    @extend .containerInnovacion;

    p{
        margin-bottom: 6rem;
        margin-right: 5rem;
        
    }

    video{
        height: 50%;
        width: 50%;
    }

}


.formContacto{

    text-align: left;
    margin: 0;
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    flex-direction: row;

    fieldset{
        font-family: sans-serif;
        padding: 2rem 2rem 2rem 2rem;
        height: 48rem;
        width: 25rem;
        margin-top: 3rem;
        margin-left: 5rem;

    }

    textarea{
        height: 15rem;
        width: 20rem;
    }

    &__p{
        margin: 0;
        font-size: 15px;
        color: firebrick;
        text-align: left;
    }

    .form{
        background-image: radial-gradient(white, grey);
    }

    iframe{
        height: 40rem;
        width: 40rem;
        padding-top: 3rem;
        padding-left: 4rem;

    }

}


.footer{
    
    height: 6rem;
    background-image: linear-gradient( grey, white);
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0;
    margin-bottom: 1rem;
    color: black;
    font-family: sans-serif;

    h2{
        
        text-align: left;
        position: relative;     
    }
    
    &__colorParrafos{
        
        text-align: right;
        margin: 0;
        
    }

    i{
        color: black;
        font-size: 2rem;
       
    }
    
}


@media only screen and ( max-width: 600px){

    .header{

        background-image: linear-gradient(white, grey, rgb(175, 9, 9));
        height: 15rem;
        position: fixed;
        z-index: 10;
        top: 0;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 1rem;
        padding-right: 3rem;
        transition: height 1s;

        &:hover{
           height: 16rem;
        }

        &__imgVoldini{
            width: 14rem;
            height: 3rem;
            margin-top: 2vw;
            margin-left: 6rem;        
        }
    
    }
    

    .nav2{

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
    
        &__ul{
            display: flex;
            flex-direction: column;
            justify-content:space-between;
            align-items: center;
            margin: 0;
            padding-bottom: 1rem;
            
        }
    
        &__li {
            list-style: none;
            display: inline-block;
            width: 20%;
            position: relative;
            margin: 0 1rem;
        }
    
        &__a{
            text-decoration: none;
            color: rgb(255, 255, 255);
            font-family: sans-serif;  
           
        }      
    
        ul li:hover ul{
            display: block;
            background-color: rgb(204, 196, 196);
            font-family: sans-serif;
            color: black;
        }
    
        ul ul{
            position: absolute;
            display: none;
    
            li{
                display: block;
            }          
        } 
    
        i{
            color: black;
        }
    
    }


    main{

        margin: 0;
        padding-top: 16rem;
        padding-bottom: 2rem;
        text-align: center;
        background-image: linear-gradient(rgb(211, 210, 210), rgb(155, 151, 151), rgb(12, 11, 11));

        .asideCarousel{
            margin-left: 1rem;
            margin-right: 1rem;
        }    
        
    }   
    
    .mainProductos{

        .imgProducto{
            width: 20rem; 
            height: 15rem;
        }    

    }

    .containerInnovacion{

        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 3rem 0;
    
        &__p{
            margin-bottom: 0;
            margin-right: 0;
            text-align: center;
        }
    
        &__imgInnovacion{

            padding-top: 2rem;
            margin-right: 2rem;
            height: 15rem;
            width: 15rem;
        }
    
    }

    .flex-conteinerEmpresa{
    
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 1rem;
    
        p{
            margin-bottom: 0;
            margin-right: 0;
            text-align: left;  
        }
    
        video{
            
            height: 20rem;
            width: 20rem;
            padding-top: 1rem;
            margin-left: 2rem;
        }
    
    }

    .formContacto{

        text-align: left;
        margin: 0;
        padding-left: 1rem;
        padding-right: 1rem;
        display: flex;
        flex-direction: column;
    
        fieldset{
            font-family: sans-serif;
            padding: 1rem 1rem 1rem 1rem;
            height: 48rem;
            width: 18rem;
            margin-top: 1rem;
            margin-left: 2rem;
    
        }
    
        textarea{
            height: 10rem;
            width: 15rem;
        }
    
        &__p{
            margin: 0;
            font-size: 15px;
            color: firebrick;
            text-align: left;
        }
    
        .form{
            background-image: radial-gradient(white, grey);
        }
    
        iframe{
            height: 25rem;
            width: 20rem;
            padding-top: 3rem;
            padding-left: 2rem;
    
        }
    
    }


    .footer{
        height: 16rem;
        text-align: center;
        background-color: rgb(168, 168, 168);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 0rem;
        padding-top: 1rem;
        align-items: center;  
    }


}